/* pseudo elements before and after */
.show::before {
	content: 'Show';
}

.show.hide::before {
	content: 'Hide';
}

.container .pass-check::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  transition: 0.5s;
}

.container.weak .pass-check::before {
  width: 10%;
  background: rgb(240, 0, 0);
}

.container.medium .pass-check::before {
  width: 66.66%;
  background: #ffac11;
}

.container.strong .pass-check::before {
  width: 100%;
  background: rgb(16, 255, 16);
}

/*.container .pass-check::after {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  transition: 0.5s;
}

.container.weak .pass-check::after {
  content: "Contraseña seguridad débil";
  color: #f00;
}

.container.medium .pass-check::after {
  content: "Contraseña seguridad media";
  color: #ffa500;
  
}

.container.strong .pass-check::after {
  content: "Contraseña seguridad alta";
  color: #0f0;
}*/